<div class="container" *ngIf="isAuthenticated; else notAuthTemplate">
  <div class="messages">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, doloremque
      nihil. Unde voluptatum omnis iste corrupti saepe asperiores voluptates
      consequatur? Quo voluptatum fugit reprehenderit eius et dicta quisquam
      dolorum? At quidem incidunt architecto odio doloremque, nihil eius
      quaerat! Ipsum exercitationem inventore voluptas veritatis ut voluptates
      quia distinctio ad aliquid natus!
    </div>
    <div>
      Veniam blanditiis architecto suscipit explicabo nesciunt nostrum excepturi
      harum esse qui quis eos, asperiores eius cupiditate nemo illo ea vel
      incidunt totam placeat alias cumque itaque praesentium ex voluptatibus!
      Laborum, numquam odit? Iusto a dicta sint corporis sunt, quisquam
      doloremque quo saepe quasi ab hic laborum quidem culpa ratione officiis.
    </div>
    <div>
      Officia necessitatibus architecto possimus a eaque veniam soluta, sapiente
      maiores dicta, saepe delectus distinctio praesentium accusamus quaerat
      eius doloribus nihil minus cupiditate ad! Saepe hic quam similique laborum
      impedit unde libero optio totam, non laudantium aliquid aperiam molestias
      quo error eum, odio voluptas quia voluptates culpa ipsum in at omnis.
    </div>
    <div>
      Earum labore aspernatur, hic dicta, dolore architecto exercitationem quia
      odio laboriosam non numquam beatae! Atque explicabo culpa at accusamus
      assumenda quidem, saepe, quam nihil minima, molestiae id ipsam expedita
      maiores eos dolore sunt. Deserunt doloribus delectus commodi quisquam?
      Nostrum quos aliquid ipsam possimus et. Velit dolorum illum perferendis
      explicabo eligendi.
    </div>
    <div>
      Quasi similique veniam iure perspiciatis repellat magnam itaque corrupti
      natus? Molestiae, natus. Dolor omnis placeat minus cumque exercitationem.
      Asperiores voluptatum nostrum nihil ipsam fugit nisi voluptatibus
      distinctio eaque, amet atque, soluta maxime placeat, quasi facilis!
      Voluptatibus dolor cum, reiciendis, eos fuga eaque velit vel quisquam
      libero officia quaerat, voluptate praesentium.
    </div>
    <div>
      Rem aliquid consequatur sit magni, ad atque totam tempora veniam dicta
      adipisci quod numquam maiores minus. Vel sit, atque necessitatibus
      quibusdam facere eligendi dolores. Dolorum fugiat veniam, dolores iure
      nobis magni illo, magnam ipsam amet numquam in consequuntur. Dignissimos
      ullam omnis optio blanditiis possimus vel voluptas sit cum quisquam sed!
    </div>
    <div>
      Dignissimos, fugiat veniam! Asperiores, quia officiis! Fugit accusantium
      assumenda officiis ratione minima cumque nisi voluptas reiciendis iure
      ullam cupiditate molestiae iste praesentium, minus qui magni similique.
      Animi, cupiditate unde explicabo architecto sint aliquam expedita
      inventore est deserunt quaerat nam nihil eius labore cumque necessitatibus
      ex laudantium a vero culpa commodi.
    </div>
    <div>
      Facere magnam voluptates esse optio, dolore nulla maiores. Dicta
      consequuntur aut ea, exercitationem hic nostrum quis tempore blanditiis
      quasi fuga aperiam iste, eos earum rerum velit porro deserunt totam
      tenetur adipisci. Illo blanditiis, cumque officiis amet repudiandae
      deleniti autem repellat, quae, rem iusto debitis ipsa reprehenderit
      corporis ex vel dolor!
    </div>
    <div>
      Rerum ut excepturi consequatur aspernatur ratione in alias, explicabo iste
      nam eius id asperiores ipsum qui. Odio nihil aliquam et cupiditate quos!
      Commodi in quia, animi asperiores a quasi eaque ipsum doloribus esse
      laboriosam atque at iste amet. Fugiat deleniti harum doloribus eum velit
      culpa aut odio eligendi quidem veritatis!
    </div>
    <div>
      Vitae saepe, porro fugiat eum doloribus nulla officia enim quibusdam,
      rerum, iste nesciunt nisi reiciendis quidem tempore expedita quod sequi!
      Voluptas alias quos quas, deleniti numquam doloribus molestias voluptatem
      ex! Dicta excepturi earum provident itaque iste. Doloribus aspernatur
      blanditiis ipsam aliquid placeat ea, tempore delectus voluptate quod
      expedita rem tempora?
    </div>
    <div>
      Architecto nobis reprehenderit asperiores! Nostrum similique cupiditate
      aliquid error, voluptas eos temporibus eveniet, quam odit vitae sint
      placeat ipsum perspiciatis. Minima earum ex dolore distinctio, voluptatem
      dolor laudantium quo libero. Praesentium aliquam nisi temporibus hic.
      Autem nihil adipisci ratione cupiditate pariatur dicta totam est aperiam
      cum a! Voluptas, tempora modi?
    </div>
    <div>
      Blanditiis ut porro ea quia perspiciatis incidunt id aspernatur tenetur
      atque? Consequuntur dicta alias reiciendis veritatis repudiandae magni
      sit, voluptas quo non corrupti sunt et eveniet ab maiores modi voluptatem.
      Iure vero distinctio nostrum fuga. Omnis, nihil id autem, distinctio
      veritatis ab illo consectetur non maxime harum ex ipsa dolor?
    </div>
    <div>
      Iusto tenetur totam suscipit quia iste, ea debitis consequatur eveniet
      recusandae sequi incidunt, numquam quae dolor eos, provident perferendis
      nostrum odio reprehenderit ratione qui. Sunt fugiat dolore sit vel sint
      maxime rerum dolorum culpa harum, dolores eum suscipit velit pariatur
      nulla inventore deleniti, aut repudiandae! Ut asperiores temporibus
      veritatis illum?
    </div>
    <div>
      Dolor eligendi reiciendis laboriosam optio sed eveniet, rem nihil nisi
      quibusdam error facere atque, enim quam, labore fuga incidunt commodi
      molestiae ea? Quia aspernatur blanditiis officia sed mollitia dolores quas
      est aliquid ullam consequatur quae odit, tempore minima veritatis delectus
      deleniti, velit labore dolorem quisquam beatae nisi assumenda! Dolorum,
      iure!
    </div>
    <div>
      Fugit ab numquam quidem omnis dicta saepe atque laudantium, a iure, modi
      eaque totam doloremque asperiores corrupti delectus, nam nesciunt eius.
      Corporis exercitationem quo earum, quidem totam quia quas aspernatur,
      ipsam, nesciunt fugit possimus dolore dolores error aperiam? Cumque harum
      nam nihil. Quos porro dolorum laborum debitis et quasi. Nemo?
    </div>
    <div>
      Voluptates aut officiis, laboriosam soluta dolorem deleniti corrupti harum
      inventore ullam pariatur et optio vel sed est neque enim cumque obcaecati,
      velit quia laudantium libero rerum. Voluptatem, officia corporis neque
      autem hic id molestias perferendis vel minus non officiis praesentium
      voluptatibus libero rem aliquid voluptate sunt. Tenetur eaque quae autem.
    </div>
    <div>
      Odio id totam rem. Consequuntur adipisci voluptatibus nulla consectetur
      ullam asperiores, ratione iusto quas quidem expedita odio animi
      laudantium, debitis ab ipsa qui repellendus soluta repudiandae sit?
      Consequatur harum deleniti eveniet laudantium non! Placeat optio cum
      deleniti in. Eaque facere rerum aperiam ea tempora nihil architecto
      aliquid nobis alias veniam!
    </div>
    <div>
      Quis dignissimos sit, enim quod nesciunt ullam nemo, veritatis facere
      quaerat aspernatur aut, odio deleniti error at recusandae sapiente culpa!
      Laboriosam at quia quis hic iure eum vel voluptates assumenda voluptatibus
      ducimus! Consectetur quas vel temporibus neque dignissimos quam nesciunt
      fugit voluptatibus reiciendis eum, rerum pariatur qui, provident nam
      magnam.
    </div>
    <div>
      Modi eveniet, numquam amet facere atque, sunt consectetur possimus sit
      fugit fuga incidunt, repellendus accusamus sed sequi soluta. Sunt, nisi.
      Velit fugit ullam voluptas ad ipsum doloremque corporis voluptatem
      cupiditate beatae dicta. Aliquam maiores necessitatibus architecto, saepe
      dicta ipsam, velit repellendus, repellat nulla nihil obcaecati delectus
      provident! Libero, soluta consequatur.
    </div>
    <div>
      Sint, incidunt! Excepturi placeat sed inventore adipisci doloribus sequi
      nesciunt optio, amet est cum explicabo iusto officiis ad facilis vitae!
      Nam eius, commodi quas eligendi suscipit deserunt voluptates dolorum!
      Praesentium, perspiciatis quam harum sunt quo autem veniam dolorum
      consequatur ducimus odit, facere temporibus excepturi consectetur sequi,
      officia debitis quisquam. Maiores?
    </div>
  </div>
  <div class="compose">compose</div>
</div>

<ng-template #notAuthTemplate>
  <div>
    <h2>Please log in or sign up to chat.</h2>
  </div>
</ng-template>
