h2 {
  text-align: center;
  margin-top: 25vh;
}

mat-divider {
  display: inline;
  width: 2px;
  margin: 0 1rem;
}

mat-card {
  padding: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.author {
  display: inline-block;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
}

.compose {
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  padding: 0.5rem;

  .mat-form-field {
    flex: 1;
  }
}
