<div class="container" *ngIf="isAuthenticated; else notAuthTemplate">
  <div class="messages">
    <div *ngFor="let message of messages">
      <span>{{ message.author }}</span>
      <span>{{ message.message }}</span>
    </div>
  </div>

  <div class="compose">
    <mat-form-field class="no-padding" appearance="outline">
      <mat-label>Message</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="inputValue"
        (keyup.enter)="sendMessage()"
      />
      <button
        *ngIf="inputValue"
        matSuffix
        mat-icon-button
        (click)="inputValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button (click)="sendMessage()" #sendButton>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>

<ng-template #notAuthTemplate>
  <div>
    <h2>Please log in or sign up to chat.</h2>
  </div>
</ng-template>
